.app.dark {
  --bg-color: #090949;
  --primary-color: #049604;
  --secondary-color: #04ff04;
}
// .app.dark {
//     --bg-color: #000;

//     --primary-color: #fff;
//     --secondary-color: #9f9f9f;
//   }
