.app.dark {
  --bg-color: #090949;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --lang-color: #7839ed;

  --inverted-bg-color: #fff;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #2b2b2b;
}
