.app.light {
  --bg-color: #fff;
  --primary-color: #000;
  --secondary-color: #2b2b2b;
  --lang-color: #7839ed;
  --inverted-bg-color: #090949;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
